<!DOCTYPE html>
<html>
<head>
    <title>Submission Successful</title>
</head>
<body>
    <h2>Form Submitted Successfully 🎉</h2>

    <p><strong>Name:</strong> {{ data.name }}</p>
    <p><strong>Email:</strong> {{ data.email }}</p>
    <p><strong>Age:</strong> {{ data.age }}</p>
    <p><strong>Gender:</strong> {{ data.gender }}</p>
    <p><strong>Skills:</strong> {{ data.skills }}</p>
    <p><strong>Course:</strong> {{ data.course }}</p>
    <p><strong>DOB:</strong> {{ data.dob }}</p>
    <p><strong>Feedback:</strong> {{ data.feedback }}</p>

</body>
</html>
